<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7-dars</title>
    <script>
      console.log("salom");
    </script>

    <style>
      body {
        background-color: aqua;
      }
    </style>
  </head>
  <body>
    <form action="/create" method="post">
      <label for="name">Ismingiz</label>
      <input
        type="text"
        required
        name="name"
        placeholder="ismingizni kiriting:"
      />
      <label for="">Phone</label>
      <input
        type="text"
        required
        name="phone"
        placeholder="Telefon  kiriting:"
      />
      <label for="">Password</label>
      <input
        type="text"
        required
        name="password"
        placeholder="Password kiriting:"
      />
      <button type="submit">Jo'natish</button>
    </form>
  </body>
</html>
